{% extends 'layout2.html' %}
{% block title %}Semesters{% endblock %}
{% block content %}
  <!-- First Year -->
  <section class="First Section-two">
    <div class="content imgs">
        <div class="content img">
            <img src="" alt="">
        </div>
    </div>

    <div class="btns">
        <a href="{{ url_for('one_one') }}">1-1</a>

        <a href="{{ url_for('one_two') }}">First [1-2]</a>
    </div>
  </section>

  <!-- Second Year -->
  <section class="Second Section-two">
    <div class="content imgs">
        <div class="content img">
            <img src="" alt="">
        </div>
    </div>

    <div class="btns">
        <a id="two-one" href="{{ url_for('two_one') }}">Second [2-1]</a>
        <a href="{{ url_for('two_two') }}">Second [2-2]</a>
    </div>
  </section>

  <!-- Third Year -->
  <section class="Third Section-two">
    <div class="content imgs">
        <div class="content img">
            <img src="" alt="">
        </div>
    </div>

    <div class="btns">
        <a id="three-one" href="{{ url_for('three_one') }}">Three [3-1]</a>
        <a href="{{ url_for('three_two') }}">Three [3-2]</a>
    </div>
  </section>

  <!-- Fourth Year -->
  <section class="Fourth Section-two">
    <div class="content imgs">
        <div class="content img">
            <img src="" alt="">
        </div>
    </div>

    <div class="btns">
        <a id="four-one">Four [4-1]</a>
        <a>Four [4-2]</a>
    </div>
  </section>
{% endblock %}
