{% extends "layout2.html" %}

{% block title %}First Year (1-1) (AR-20){% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='subjects.css') }}"> <!-- Link to the specific stylesheet -->
    
{% endblock %}

{% block content %}
    <h1>First Year (1-1) (AR-20)</h1>
    <h1 id="cse"><u>CSE and CSE Specializations</u></h1>
    
    <section class="cse-common-subjects subjects">
        <!-- CSE Subjects -->
        <a href="" class="s">Calculus <br><br>(M-1)</a>
        <a href="" class="s">Chemistry - (Applied Chemistry)</a>
        <a href="" class="s">English - (Communicative English)</a>
        <a href="" class="s">CEW -<br>(Computer Engineering Workshop)</a>
        <a href="" class="s">PPSC (Programming and Problem Solving using C)</a>

        <img src="" alt="Image will be placed" height="200px" width="450px">
    </section>

    <h1 id="ece"><u>Electronics and Communication Engineering (ECE)</u></h1>
    <h1>&</h1>
    <h1><u>Electrical and Electronics Engineering (EEE)</u></h1>

    <section class="ece-subjects subjects">
        <!-- ECE & EEE Subjects -->
        <a href="" class="s">Calculus <br><br>(M-1)</a>
        <a href="" class="s">Physics - (Applied Physics)</a>
        <a href="" class="s">English - (Communicative English)</a>
        <a href="" class="s">Material Science</a>
        <a href="" class="s">C Programming</a>
        <a href="" class="s">Chemistry - (Applied Chemistry)</a>
        <a href="" class="s">BCME - (Basic Civil and Mechanical Engineering)</a>
    </section>

    <h1 id="mec"><u>Mechanical Engineering (MEC)</u></h1>
    <h1>&</h1>
    <h1><u>Civil Engineering (CIV)</u></h1>

    <section class="mec-subjects subjects">
        <!-- MEC & CIV Subjects -->
        <a href="" class="s">Calculus <br><br>(M-1)</a>
        <a href="" class="s">Physics - (Engineering Physics)</a>
        <a href="" class="s">English - (Communicative English)</a>
        <a href="" class="s">Engineering Drawing</a>
        <a href="" class="s">C Programming</a>
        <a href="" class="s">Engineering Mechanics</a>
    </section>

    <img src="" alt="" id="footer-img">
{% endblock %}
