{% extends "layout2.html" %}

{% block title %}First Year (1-1) (AR-20){% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='subjects.css') }}"> <!-- Link to the specific stylesheet -->
    
{% endblock %}

{% block content %}
    <h1>First Year (1-2) (AR-23)</h1>
    <h1 id="cse"><u>CSE  and CSE Specializations</u></h1>
    <section class="cse-common-subjects subjects">
        <!-- core cse -->
        
        <a href="" class="s">Differential Equations and Vector Calculus</a>
        <a href="" class="s">Engineering Physics</a>
        <a href="" class="s">Data Structures</a>
        <a href="" class="s">Basic Civil and Mechanical Engineering</a>
        <a href="" class="s">Engineering Graphics</a>
        <a href="" class="s">Applied Chemistry</a>
        <a href="" class="s">Basic Electrical and Electronics Engineering</a>

        <img src="" alt="Image will be placed"  height="200px" width="450px">
    </section>
    <h1 id="ece"><u>Electronics and Communication Engineering (ECE)</u></h1>
    <h1>&</h1>
    <h1><u>Electrical and Electronics Engineering (EEE)</u></h1>

        <section class="ece-subjects subjects">
            <a href="" class="s">Differential Equations and Vector Calculus</a>
            <a href="" class="s">Engineering Physics</a>
            <a href="" class="s">Network Analysis</a>
            <a href="" class="s">Basic Civil and Mechanical Engineering</a>
            <a href="" class="s">Introduction to Programming</a>
            <a href="" class="s">Electrical Circuit Analysis-I</a>
          
        </section>

        <h1 id="mec"><u>Mechanical Engineering (MEC)</u></h1>
        <h1>&</h1>
        <h1><u>Civil Engineering (CIV)</u></h1>
        <section class="mec-subjects subjects">
            <a href="" class="s">Differential Equations and Vector Calculus</a>
            <a href="" class="s">Chemistry - (Engineering Chemistry)</a>
            <a href="" class="s">Engineering Mechanics</a>
            <a href="" class="s">Basic Electrical and Electronics Engineering</a>
            <a href="" class="s">Introduction to Programming</a>
            
        </section>
        <img src="" alt="" id="footer-img">
{% endblock %}