{% extends "layout2.html" %}

{% block title %}First Year (1-1) (AR-20){% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='subjects.css') }}"> <!-- Link to the specific stylesheet -->
    
{% endblock %}

{% block content %}
    <h1>Second Year (2-2) (AR-23)</h1>
    <h1 id="cse"><u>CSE and CSE Specializations</u></h1>
    <section class="cse-common-subjects subjects"  style="height: 550px; ">
        <!-- core cse -->

        <a href="" class="s">Managerial Economics and Financial Accountancy - (MEFA)</a>
        <a href="" class="s">Probability and Statistics</a>
        <a href="" class="s">Theory of Computation - (TOC)</a>
        <a href="" class="s">Data Base Management System - (DBMS)</a>
        <a href="" class="s">Operating Systems - (OS)</a>
        <a href="" class="s">Automata & Compiler Design</a>
        <a href="" class="s">Principles of Artificial Intelligence-(AI)</a>
        <a href="" class="s">Fundamentals of Data Science</a>
        <a href="" class="s">Number Theory and application</a>
        <a href="" class="s">Software Engineering - (SE)</a>
        <a href="" class="s">Computer Networks - (CN)</a>
        <a href="" class="s">Micro Processors And Microcontrollers Foundations Lab</a>

        <img src="" alt="Image will be placed" height="200px" width="450px">
    </section>
    <h1 id="ece"><u>Electronics and Communication Engineering (ECE)</u></h1>
    <h1>&</h1>
    <h1><u>Electrical and Electronics Engineering (EEE)</u></h1>

    <section class="ece-subjects subjects">
        <a href="" class="s">Managerial Economics and Financial Accountancy - (MEFA)</a>
        <a href="" class="s">Electromagnetic Waves & Transmission Lines</a>
        <a href="" class="s">Analog Electronic Circuits</a>
        <a href="" class="s">Signals & Systems</a>
        <a href="" class="s">Control Systems</a>
    </section>

    <h1 id="mec"><u>Mechanical Engineering (MEC)</u></h1>
    <h1>&</h1>
    <h1><u>Civil Engineering (CIV)</u></h1>
    <section class="mec-subjects subjects">
        <a href="" class="s">Managerial Economics and Financial Accountancy - (MEFA)</a>
        <a href="" class="s">Complex Variables and Statistical Methods</a>
        <a href="" class="s">Manufacturing processes</a>
        <a href="" class="s">Fluid Mechanics & Hydraulic Machines</a>
        <a href="" class="s">Thermal Engineering</a>
    </section>
    <img src="" alt="" id="footer-img">
{% endblock %}