{% extends "layout.html" %}

{% block title %}Home{% endblock %} <!-- Sets the title for the index page -->

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='subjects.css') }}"> 
<style>
a:hover {
    background-color: var(--design-color1);
    color: black;
}
</style>
{% endblock %}

{% block content %}
    <header>
        <h1>Choode Your Current Regulation</h1>
    </header>
    <br>
    <div class="container subjects">
        <a href=""><br> AR - 17</a>
        <a href="{{ url_for('AR_20_semesters')}}"><br> AR - 20</a>
        <a href="{{ url_for('AR_23_semesters')}}"><br> AR - 23</a>
    </div>
{% endblock %}


