{% extends "layout.html" %}

{% block title %}Home{% endblock %} <!-- Sets the title for the index page -->

{% block content %}
    <!-- Year Selection -->
    <section class="First Section-one">
        <div class="btns">
            <a href="{{ url_for('regulations')}}">First Year</a>
            <a href="{{ url_for('regulations')}}">Second Year</a>
            <a href="{{ url_for('regulations')}}">Third Year</a>
            <a href="{{ url_for('regulations')}}">Fourth Year</a>
        </div>

        <div class="content imgs">
            <div class="content img">
                <img src="" alt="">
            </div>
        </div>
    </section>
{% endblock %}
