{% extends "layout.html" %}

{% block title %}Home{% endblock %} <!-- Sets the title for the index page -->

{% block content %}
    <!-- Year Selection -->
    <section class="First Section-one">
        <div class="btns">
            <a href="#one-one">First Year</a>
            <a href="#two-one">Second Year</a>
            <a href="#three-one">Third Year</a>
            <a href="#four-one">Fourth Year</a>
            <a href="{{ url_for('signup') }}" style="color: var(--design-color1); border: 2px solid var(--design-color1); padding: 10px; margin-top: 20px;">Sign Up Now</a>
        </div>

        <div class="content imgs">
            <div class="content img">
                <img src="" alt="">
            </div>
        </div>
    </section>

    <!-- First Year -->
    <section class="First Section-two">
        <div class="content imgs">
            <div class="content img">
                <img src="" alt="">
            </div>
        </div>

        <div class="btns">
            <a id="one-one" href="{{ url_for('one-one') }}">First [1-1]</a>
            <a href="one-two.html">First [1-2]</a>
        </div>
    </section>

    <!-- Second Year -->
    <section class="Second Section-two">
        <div class="content imgs">
            <div class="content img">
                <img src="" alt="">
            </div>
        </div>

        <div class="btns">
            <a id="two-one" href="two-one.html">Second [2-1]</a>
            <a href="two-two.html">Second [2-2]</a>
        </div>
    </section>

    <!-- Third Year -->
    <section class="Third Section-two">
        <div class="content imgs">
            <div class="content img">
                <img src="" alt="">
            </div>
        </div>

        <div class="btns">
            <a id="three-one" href="three-one.html">Three [3-1]</a>
            <a href="three-two.html">Three [3-2]</a>
        </div>
    </section>

    <!-- Fourth Year -->
    <section class="Fourth Section-two">
        <div class="content imgs">
            <div class="content img">
                <img src="" alt="">
            </div>
        </div>

        <div class="btns">
            <a id="four-one">Four [4-1]</a>
            <a>Four [4-2]</a>
        </div>
    </section>
{% endblock %}
