<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <title>{% block title %}Home{% endblock %}</title> <!-- Title block to be overridden -->
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="logo">
            <h1>R<span>E</span>C</h1>
        </div>
        <div class="menu-btns">
            <a href="/">Home</a>
            <a href="">About</a>
            <a href="/signin">Sign In</a>
        </div>
    </nav>

    <!-- Main content section -->
    <div class="container">
        {% block content %}
        <!-- This block will be overridden by child templates -->
        {% endblock %}
    </div>

</body>
</html>
