{% extends 'layout2.html' %}



{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='subjects.css') }}"> 
    <style>
        a {
            text-decoration: none;
            color: var(--main-color);
            font-family: var(--primary-font);
            font-weight: bold;
            font-size: 1.3rem;
            border: 2px solid var(--design-color1);
            padding: 15px;
        }
        a:hover {
            background-color: var(--design-color1);
            color: black;
        }
        .container {
            margin-left: 300px;
            margin-right: 380px;
        }
    </style>
{% endblock %}

{% block content %}
    <header>
        <h1>Regulation</h1>
    </header>
    <br>
    <div class="container subjects">
        <a href=""><br> AR - 17</a>
        <a href="{{ url_for('AR_20_semesters')}}"><br> AR - 20</a>
        <a href="{{ url_for('AR_23_semesters')}}"><br> AR - 23</a>
    </div>
{% endblock %}
