<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="subjects.css">
    <title>Regulations</title>
    <style>
  a {
    text-decoration: none;
    color: var(--main-color);
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 1.3rem;
    border: 2px solid var(--design-color1);
    padding: 15px;
}
 a:hover {
    background-color: var(--design-color1);
    color: black;
}
.container{
    margin-left: 300px;
    margin-right: 380px;
}
    </style>
</head>
<body>
    <header>
        <h1>Regulation</h1>
    </header>
    <br>
    <div class="container subjects" >
        <a href=""><br> AR - 17</a>
        <a href=""><br> AR - 20</a>
        <a href=""><br> AR - 23</a>
    </div>
</body>
</html>