
{% extends "layout.html" %}

{% block title %}Sign-In{% endblock %}

{% block additional_styles %}
<link href="{{ url_for('static', filename='style1.css') }}" rel="stylesheet"> <!-- Link to sign-in specific stylesheet -->
{% endblock %}

{% block content %}
<div class="container">
    <form action="{{ url_for('signin') }}" method="POST">
        <pre><label for="email">Email</label>     <i class="ri-mail-line"></i></pre><br>
        <input type="email" id="email" placeholder="college mail"> <br><br><br>
        <pre><label for="password">Password</label>     <i class="ri-lock-line"></i></pre><br>
        <div class="password-container">
            <input type="password" id="password" placeholder="password">
            <img src="{{ url_for('static', filename='images/eye-open.png') }}" id="eyeicon" alt="eye icon">
        </div>
        <button>Submit</button>
    </form>
</div>

<script>
    let eyeicon = document.getElementById("eyeicon");
    let password = document.getElementById("password");

    eyeicon.onclick = function(){
        if( password.type == "password"){
            password.type = "text";
        }
        else{
            password.type = "password";
        }
    }
</script>
{% endblock %}
