<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="subjects.css">
    <title>Three-one</title>
</head>

<body>
    <h1>Third Year (3-1) (AR-20)</h1>
    <h1 id="cse"><u>CSE and CSE Specializations</u></h1>
    <section class="cse-common-subjects subjects">
        <!-- core cse -->

        <a href="" class="s">Design and Analysis of Algorithms - (DAA)</a>
        <a href="" class="s">Computer Networks - (CN)</a>
        <a href="" class="s">Database Management Systems - (DBMS)</a>
        <a href="" class="s">Machine Learning - (ML)</a>
        <a href="" class="s">Data Communications - (DC)</a>
        <a href="" class="s">Software Engineering - (SE)</a>
        <a href="" class="s">Introduction to Cyber Security</a>
        <a href="" class="s">Cloud Computing</a>
        <a href="" class="s">Operating Systems - (OS)</a>
        <img src="" alt="Image will be placed" height="200px" width="450px">
    </section>
    <h1 id="ece"><u>Electronics and Communication Engineering (ECE)</u></h1>
    <h1>&</h1>
    <h1><u>Electrical and Electronics Engineering (EEE)</u></h1>

    <section class="ece-subjects subjects">
        <a href="" class="s">Control Systems Engineering</a>
        <a href="" class="s">Analog and Digital Communications</a>
        <a href="" class="s">Analog & Digital IC Applications</a>
        <a href="" class="s">Power Electronics</a>
        <a href="" class="s">Micro Processors & Micro Controllers</a>
        <a href="" class="s">Power Systems – II</a>
    </section>

    <h1 id="mec"><u>Mechanical Engineering (MEC)</u></h1>
    <h1>&</h1>
    <h1><u>Civil Engineering (CIV)</u></h1>
    <section class="mec-subjects subjects">
        <a href="" class="s">Kinematics of Machines</a>
        <a href="" class="s">Design of machine members – II</a>
        <a href="" class="s">Steam & Gas Turbines</a>
        <a href="" class="s">Environmental Engineering</a>
        <a href="" class="s">Structural Analysis - II</a>
        <a href="" class="s">	Design & Drawing Of Reinforced Concrete Structures</a>
    </section>
    <img src="" alt="" id="footer-img">
</body>

</html>