<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="subjects.css">
    <title>Three-two</title>
    <style>
        .cse-common-subjects{
            height: 550px;
        }
    </style>
</head>

<body>
    <h1>Third Year (3-2) (AR-20)</h1>
    <h1 id="cse"><u>CSE and CSE Specializations</u></h1>
    <section class="cse-common-subjects subjects">
        <!-- core cse -->

        <a href="" class="s">Data Warehousing and Mining</a>
        <a href="" class="s">Mobile Computing</a>
        <a href="" class="s">Web Technologies</a>
        <a href="" class="s">Deep Learning</a>
        <a href="" class="s">Computer Vision</a>
        <a href="" class="s">Computer Networks - (CN)</a>
        <a href="" class="s">Data Analytics</a>
        <a href="" class="s">Data Wrangling</a>
        <a href="" class="s">	Cryptography and Network Security</a>
        <a href="" class="s">Digital Forensics</a>
        <a href="" class="s">Malware Analysis</a>
        <a href="" class="s">IoT Architecture and Protocols</a>
        <a href="" class="s">Wireless Ad-hoc & Sensor Networks</a>
        <a href="" class="s">Embedded Technology for IoT</a>
        <img src="" alt="Image will be placed" height="200px" width="450px">
    </section>
    <h1 id="ece"><u>Electronics and Communication Engineering (ECE)</u></h1>
    <h1>&</h1>
    <h1><u>Electrical and Electronics Engineering (EEE)</u></h1>

    <section class="ece-subjects subjects">
        <a href="" class="s">Micro Processors & Micro Controllers</a>
        <a href="" class="s">Digital Signal Processing</a>
        <a href="" class="s">VLSI Design</a>
        <a href="" class="s">Power System Analysis</a>
        <a href="" class="s">Electrical Measurements & Instrumentation</a>
        <a href="" class="s">Utilization of Electrical Energy</a>
    </section>

    <h1 id="mec"><u>Mechanical Engineering (MEC)</u></h1>
    <h1>&</h1>
    <h1><u>Civil Engineering (CIV)</u></h1>
    <section class="mec-subjects subjects">
        <a href="" class="s">Dynamics of Machinery</a>
        <a href="" class="s">Metrology & ICS</a>
        <a href="" class="s">Heat transfer</a>
        <a href="" class="s">Managerial Economics and Financial Accountancy - (MEFA)</a>
        <a href="" class="s">Soil Mechanics &; Foundation Engineering</a>
        <a href="" class="s">Design & Drawing Of Steel Structures</a>
    </section>
    <img src="" alt="" id="footer-img">
</body>

</html>