{% extends "layout2.html" %}

{% block title %}Second Year (2-2) (AR-20){% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='subjects.css') }}"> <!-- Link to the specific stylesheet -->
{% endblock %}

{% block content %}
    <h1>Second Year (2-2) (AR-20)</h1>

    <h1 id="cse"><u>CSE and CSE Specializations</u></h1>
    <section class="cse-common-subjects subjects">
        <!-- CSE Subjects -->
        <a href="" class="s">Object Oriented Programming through Java</a>
        <a href="" class="s">Probability and Statistics</a>
        <a href="" class="s">Operating Systems - (OS)</a>
        <a href="" class="s">Compiler Design - (CD)</a>
        <a href="" class="s">Managerial Economics and Financial Accountancy - (MEFA)</a>
        <a href="" class="s">Artificial Intelligence - (AI)</a>
        <a href="" class="s">Computer Networks - (CN)</a>

        <img src="" alt="Image will be placed" height="200px" width="450px">
    </section>

    <h1 id="ece"><u>Electronics and Communication Engineering (ECE)</u></h1>
    <h1>&</h1>
    <h1><u>Electrical and Electronics Engineering (EEE)</u></h1>
    <section class="ece-subjects subjects">
        <!-- ECE & EEE Subjects -->
        <a href="" class="s">OOP through Java</a>
        <a href="" class="s">Analog Electronic Circuits</a>
        <a href="" class="s">Signals & Systems</a>
        <a href="" class="s">Network Analysis</a>
        <a href="" class="s">Probability Theory and Stochastic Processes</a>
        <a href="" class="s">Managerial Economics and Financial Accountancy - (MEFA)</a>
        <a href="" class="s">Digital Logic Design - (DLD)</a>
        <a href="" class="s">Synchronous and Asynchronous Machines</a>
        <a href="" class="s">Control Systems</a>
        <a href="" class="s">Power Systems - I</a>
    </section>

    <h1 id="mec"><u>Mechanical Engineering (MEC)</u></h1>
    <h1>&</h1>
    <h1><u>Civil Engineering (CIV)</u></h1>
    <section class="mec-subjects subjects">
        <!-- MEC & CIV Subjects -->
        <a href="" class="s">OOP through Java</a>
        <a href="" class="s">Fluid Mechanics & Hydraulic Machinery</a>
        <a href="" class="s">Metal Cutting and Machine Tools</a>
        <a href="" class="s">Design of Machine Members-I</a>
        <a href="" class="s">Thermal Engineering</a>
        <a href="" class="s">Complex Variables & Statistical Methods</a>
        <a href="" class="s">Structural Analysis I</a>
        <a href="" class="s">Hydraulics & Hydraulic Machines</a>
        <a href="" class="s">Transportation Engineering</a>
    </section>

    <img src="" alt="" id="footer-img">
{% endblock %}
